@model Web.Models.MangaViewModel

@{
    ViewBag.Title = "Create Manga";
}

<h2>Create Manga</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Name" class="form-control" list="name" />
                <p class="gray">* Required</p>
                <datalist id="name">
                    @foreach (var name in (List<string>)Session["NameManga"])
                    {
                        <option value="@name" />
                    }
                </datalist>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Chapter, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chapter, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Chapter, "", new { @class = "text-danger" })
                <p class="gray">* Required</p>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Status" class="form-control">
                    <option value="Airing">Airing</option>
                    <option value="Completed">Completed</option>
                    <option value="NA">NA</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="Rating" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.NewChapter, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewChapter)
                @Html.ValidationMessageFor(model => model.NewChapter)
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
