@model IEnumerable<Core.DomainModel.Manga>

    @{
        ViewBag.Title = "Mangas";
    }

    <h2>Mangas</h2>
    @Html.ActionLink("Create New Manga", "Create")
    @Html.ActionLink("Check for new chapters", "Check")
    @Html.ActionLink("Import from txt", "Import")

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chapter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewChapter)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chapter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NewChapter)
                </td>
                <td>
                    @Html.ActionLink("Add one", "AddOne", item)|
                    @Html.ActionLink("Edit", "Edit", new { id = item.MangaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MangaId })
                </td>
            </tr>
        }

    </table>
