@using Facebook
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: white; border-color: white">
        <div class="container">
            <div class="navbar-collapse collapse" style="background-color: black">
                <ul class="nav navbar-nav col-lg-12">
                    <li><img src="/Picture/Logo.png" style="height: 50px" /></li>
                    <li>@Html.ActionLink("Trackers", "Index", "Home")</li>
                    @if (Session["accessToken"] != null)
                    {
                        <li>@Html.ActionLink("Serie Tracker", "Index", "Serie")</li>
                        <li>@Html.ActionLink("Manga Tracker", "Index", "Manga")</li>
                    }
                    @if (Session["accessToken"] != null)
                    {
                        var facebookId = Session["FacebookId"];

                        var client = new FacebookClient(Session["accessToken"].ToString());

                        dynamic result = client.Get("me", new { fields = "name, id, birthday" });

                        <li class="pull-right">
                            <div class="fb-info">

                                <img class="pull-left" src="http://graph.facebook.com/@facebookId/picture?type=square" alt="FacebookBillede" />

                                <p class="pull-left">
                                    @result.name
                                </p>
                            </div>
                        </li>
                        <li class="pull-right">
                            @Html.ActionLink("Log out", "Logout", "Login")
                        </li>
                    }
                    else
                    {
                        <li class="pull-right">
                            @Html.ActionLink("Log in", "LogIn", "Login")
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Martin Nielsen Fig</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
